<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/ecf-af-web.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>


	<logger name="org.apache.axis2.enterprise"><level value="FATAL"/></logger>
	<logger name="de.hunsicker.jalopy.io"><level value="FATAL"/></logger>
	<logger name="httpclient.wire.header"><level value="FATAL"/></logger>
	<logger name="org.apache.commons.httpclient"><level value="FATAL"/></logger>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="ConsoleAppender"/>
		<appender-ref ref="FileAppender" />
	</root>

</log4j:configuration>